html, body {
	height: 100%;
	width: 100%;
	/* overflow: hidden; */
	background: #f5f5f5;
}

#wrap {
	position: relative;
}
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
	clear: both;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /*WebKit browsers*/

color: #e6e6e6;

}

input::-moz-input-placeholder,
textarea::-moz-input-placeholder { /*Mozilla Firefox*/

color: #e6e6e6;

}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /*Internet Explorer*/ 

color: #e6e6e6;

}
aside {
	background: #fbfbfb;
	width: 272px;
	position: absolute;
	left: 10px;
	top: -140px;
	padding: 10px;
}
aside h1 {
	margin: 10px 0;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
	margin-left: 10px;
	font-size: 24px;
}
hr {
	margin: 20px 0;
    border: 0;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}
aside h3 {
	margin: 10px 0;
    font-weight: 500;
    line-height: 0.5;
    color: #000;
	margin-left: 10px;
	font-size: 16px;

}
aside h3 a {
	color: #b83f45;
	font-size: 16px;
	font-weight: normal;
}
aside h3 a:hover {
	text-decoration: underline;
	color: #858c8c;
}
aside .des {
	position: relative;
	background: #f1f1f1;
    padding: 5px;
	margin-bottom: 50px;
	border-radius: 5px;
}
aside .des:after {
	content: "";
	border-color: #f1f1f1 transparent transparent transparent; 
	border-style: solid;
	border-width: 15px;
	position: absolute;
	bottom: -30px;
	right: 30px;
}
aside .des p {
	font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
	font-style: italic;
}
aside .des p:before {
	content: '“';
	font-size: 50px;
	position: absolute;
	top: -14px;
	left: -3px;
	opacity: .15;
}
aside .des p:after {
	content: '”';
	font-size: 50px;
	position: absolute;
	bottom: -51px;
	right: 13px;
	opacity: .15;
}
aside .des a {
	position: absolute;
	color: #b83f45;
	font-size: 16px;
	font-weight: normal;
	bottom: -35px;
	right: 0px;
}
aside .des a:hover {
	text-decoration: underline;
	color: #858c8c;
}
aside em {
	line-height: 1.5;
}
aside em a {
	color: #b83f45;
	font-size: 16px;
	font-weight: normal;
}

aside em a:hover {
	text-decoration: underline;
	color: #858c8c;
}
#wrap .todo {
	position: relative;
	left: 50%;
	top: 50%;
	width: 550px;
	transform: translateX(-115px);
	background: #fff;
	margin-top: 154px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#wrap .todo .header {
	width: 100%;
}
#wrap .todo .header h1 {
	position: absolute;
	font-size: 100px;
	color: rgba(175, 47, 47, 0.15);
	font-weight: 100;
	text-align: center;
	width: 100%;
	margin-top: -121px;
	background: #f5f5f5;
	padding-bottom: 10px;
}

#wrap .todo .header .need {
	display: block;
	box-sizing: border-box;
	padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	width: 100%;
	font-size: 24px;
	font-weight: 100;

}
.main {
	position: relative;

}
.check-all {
	display: block;
	transform: rotate(90deg);
	width: 61px;
    height: 48px;
    font-size: 0;
	position: absolute;
	left: -7px;
	top: -59px;
}
.check-all:before {
	content: "❯";
	position: absolute;
	width: 5px;
	top: 7px;
	left: 26px;
	font-size: 22px;
	color: #e6e6e6;
	font-weight: 100;
	display: none;

}
.check-all.show:before {
	display: block;
}
.toggle-all {
	width: 0;
	height: 0;
	display: none;
}
.toggle-all:checked + label:before {
    color: #737373;
}
.lists {
	list-style: none;	
}
.lists .item {
	position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
.lists .item .view .toggle {
	text-align: center;
    width: 60px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
	/* height: 40px; */
	opacity: 0;
} 
.lists .item .view label {
	font-size: 24px;
	word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
	background: url(../img/select.jpg) no-repeat 15px 15px;
	font-weight: 100;

}

.lists .item .toggle:checked + label{
	background: url(../img/selected.jpg) no-repeat 15px 15px;
}
.lists li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.lists .item .view .destroy {
	display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
.lists .item .view .destroy:after {
	content: '×';
}
.lists .item:hover .destroy{
	display: block;
}
button {
	margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
}
.todo .footer {
	display: block;
	color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
	padding-top: 20px;
	overflow: hidden;
	display: none;
}
.todo .footer:before {
	content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
	
}
.todo .footer .count {
	float: left;
	font-size: 16px;
	font-weight: 100;

}
.todo .footer .count strong {
	font-size: 16px;
	font-weight: 100;
}
.todo .footer .filters {
	margin-left: 150px;
	/* overflow: hidden; */
}
.todo .footer .filters li {
	float: left;
	margin-left: 25px;
	margin-top: -5px;
}
.todo .footer .filters li a {
	font-size: 16px;
	font-weight: 100;
	color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
	display: block;
	padding: 5px;
	box-sizing: border-box;
	
	width: 100%;
}
.filters li a.selected {
    border: 1px solid rgba(175, 47, 47, 0.2);
	width: 15px;
}
.todo .footer .filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}
.todo .footer .clear-complete {
	display: block;
	padding-left: 28px;
	margin-left: 30px;
	margin-top: 1px;
	cursor: pointer;
	font-weight: 400;
}
.todo .footer .clear-complete:hover {
	text-decoration: underline;
}