html, body {
	height: 100%;
	width: 100%;
	/* overflow: hidden; */
	background: #f5f5f5;
}

#wrap {
	position: relative;
}
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
	clear: both;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /*WebKit browsers*/

color: #e6e6e6;

}

input::-moz-input-placeholder,
textarea::-moz-input-placeholder { /*Mozilla Firefox*/

color: #e6e6e6;

}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /*Internet Explorer*/ 

color: #e6e6e6;

}
aside {
	background: #fbfbfb;
	width: 272px;
	position: absolute;
	left: 10px;
	top: -140px;
	padding: 10px;
}
aside h1 {
	margin: 10px 0;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
	margin-left: 10px;
	font-size: 24px;
}
hr {
	margin: 20px 0;
    border: 0;
    border-top: 1px dashed #c5c5c5;
    border-bottom: 1px dashed #f7f7f7;
}
aside h3 {
	margin: 10px 0;
    font-weight: 500;
    line-height: 0.5;
    color: #000;
	margin-left: 10px;
	font-size: 16px;

}
aside h3 a {
	color: #b83f45;
	font-size: 16px;
	font-weight: normal;
}
aside h3 a:hover {
	text-decoration: underline;
	color: #858c8c;
}
aside .des {
	position: relative;
	background: #f1f1f1;
    padding: 5px;
	margin-bottom: 50px;
	border-radius: 5px;
}
aside .des:after {
	content: "";
	border-color: #f1f1f1 transparent transparent transparent; 
	border-style: solid;
	border-width: 15px;
	position: absolute;
	bottom: -30px;
	right: 30px;
}
aside .des p {
	font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
	font-style: italic;
}
aside .des p:before {
	content: '“';
	font-size: 50px;
	position: absolute;
	top: -14px;
	left: -3px;
	opacity: .15;
}
aside .des p:after {
	content: '”';
	font-size: 50px;
	position: absolute;
	bottom: -51px;
	right: 13px;
	opacity: .15;
}
aside .des a {
	position: absolute;
	color: #b83f45;
	font-size: 16px;
	font-weight: normal;
	bottom: -35px;
	right: 0px;
}
aside .des a:hover {
	text-decoration: underline;
	color: #858c8c;
}
aside em {
	line-height: 1.5;
}
aside em a {
	color: #b83f45;
	font-size: 16px;
	font-weight: normal;
}

aside em a:hover {
	text-decoration: underline;
	color: #858c8c;
}
#wrap .todo {
	position: relative;
	left: 50%;
	top: 50%;
	width: 550px;
	transform: translateX(-115px);
	background: #fff;
	margin-top: 154px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
#wrap .todo .header {
	width: 100%;
}
#wrap .todo .header h1 {
	position: absolute;
	font-size: 100px;
	color: rgba(175, 47, 47, 0.15);
	font-weight: 100;
	text-align: center;
	width: 100%;
	margin-top: -121px;
	background: #f5f5f5;
	padding-bottom: 10px;
}

#wrap .todo .header .need {
	display: block;
	box-sizing: border-box;
	padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	width: 100%;
	font-size: 24px;
	font-weight: 100;

}
.main {
	position: relative;

}
.check-all {
	display: block;
	transform: rotate(90deg);
	width: 61px;
    height: 48px;
    font-size: 0;
	position: absolute;
	left: -7px;
	top: -59px;
}
.check-all:before {
	content: "❯";
	position: absolute;
	width: 5px;
	top: 7px;
	left: 26px;
	font-size: 22px;
	color: #e6e6e6;
	font-weight: 100;
	display: none;

}
.check-all.show:before {
	display: block;
}
.toggle-all {
	width: 0;
	height: 0;
	display: none;
}
.toggle-all:checked + label:before {
    color: #737373;
}
.lists {
	list-style: none;	
}
.lists .item {
	position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
	/* height: 58px; */
}
.lists .item.hide {
	display: none;
}
.lists .item.editing {
	border-bottom: none;
	padding: 0;
}
.lists .item.top {
	border-color: #cc9a9a;
    border-width: 1px;
    border-style: solid;
}
.lists .item .view .toggle {
	text-align: center;
    width: 60px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
	/* height: 40px; */
	opacity: 0;
} 
.lists .item .view label {
	font-size: 24px;
	word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
	background: url(../img/select.jpg) no-repeat 15px 15px;
	font-weight: 100;
	color: #4D4D4D;
	font-family: helvetica;

}
.lists .change {
	width: 490px;
	/* height: 58px; */
	font-size: 24px;
	font-family: helvetica;
	color: #4D4D4D;
	font-weight: 100;
	margin-left: 60px;
	display: inline-block;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: inset 0 0 8px #ccc;
	text-indent: 0.75em;
	position: absolute;
	left: 0;
	top: 0;
}
.change.checked {
	text-decoration: line-through;
}
.lists .item .toggle:checked + label{
	background: url(../img/selected.jpg) no-repeat 15px 15px;
}
.lists li.completed label {
    color: #d9d9d9 !important;
    text-decoration: line-through;
}

.lists .item .view .destroy {
	display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}
.lists .item .view .destroy:after {
	content: '×';
}
.lists .item:hover .destroy{
	display: block;
}
.lists .item .view .topping {
	position: absolute;
	top: 22px;
    right: 70px;
}
.lists .item .view .topping.hide {
	display: none;
}
.lists .item .view .togglecolor i {
	    color: #cc9a9a;
}
button {
	margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
}
.todo .footer {
	display: block;
	color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
	padding-top: 20px;
	overflow: hidden;
	display: none;
}

.todo .footer:before {
	content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
	
}
.todo .footer .count {
	float: left;
	font-size: 16px;
	font-weight: 100;

}
.todo .footer .count strong {
	font-size: 16px;
	font-weight: 100;
}
.todo .footer .filters {
	margin-left: 130px;
}
.todo .footer .filters li {
	float: left;
	margin-left: 25px;
	margin-top: -5px;
}
.todo .footer .filters li a {
	font-size: 16px;
	font-weight: 100;
	color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
	display: block;
	padding: 5px;
	box-sizing: border-box;	
	width: 100%;
	position: relative;
}
.filters li.selected a {
    border: 1px solid rgba(175, 47, 47, 0.2)!important;
	width: 15px;
}
.todo .footer .filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}
.todo .footer .clear-complete {
	display: none;
	margin-left: 30px;
	margin-top: 1px;
	cursor: pointer;
	font-weight: 400;
	position: relative;
}
.todo .footer .completed {
	display: inline-block;
}
.todo .footer .clear-complete:hover {
	text-decoration: underline;
}

/* 登录注册 */
.registe-login {
	display: none;
	position: fixed;
	width: 350px;
	height: 330px;
	background: rgb(250, 250, 250);
	z-index: 99;
	left: 59%;
	top: 61%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 6px gray;
}

.registe-login .head {
	width: 93%;
	margin: 12px auto;
}

.registe-login .head .return-login {
	float: left;
}

.registe-login .head .close {
	float: right;
}
.registe-login .head .close {
	float: right;
}
.registe-login .head .close:before {
	content: "x";
	color: rgb(136, 136, 136);
	font-size: 1.5rem;
}
.registe-login .bg,
.registe-login .body,
.registe-login .foot {
	margin: 45px auto;
	width: 77%;
}

.registe-login .body {
	height: 78px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px 5px;
	background-color: white;
}

.registe-login .body .select {
	display: inline-block;
	width: 87px;
	border-right: 1px solid rgb(216, 216, 216);
	height: 38px;
	cursor: auto;
	text-align: center;
	line-height: 38px;
	text-indent: 29px;
	font-size: 0.5rem;
}

.registe-login .body .select:hover {
	color: #656567;
}

.registe-login .body .select .triangular {
	display: inline-block;
	border-width: 5px;
	border-color: rgb(153, 153, 153) transparent transparent transparent;
	border-style: solid;
	margin-left: 9px;
}

.registe-login .body .phone {
	width: calc(100% - 93px);
	height: 38px;
	border: none;
	outline: none;
	text-indent: 0.33rem;
	font-size: 10px;
}

.registe-login .body .password {
	width: 176px;
	height: 38px;
	border: none;
	outline: none;
	font-size: 10px;
	border-top: 1px solid rgb(216, 216, 216);
	text-indent: 1.8rem;
}

.registe-login .body .reset-password {
	width: 93px;
	display: inline-block;
	text-align: right;
	height: 38px;
	border-top: 1px solid rgb(225, 225, 225);
	padding-top: 13px;
	font-size: 12px;
}

.registe-login .body .reset-password:hover {
	color: #656567;
}

.registe-login .body .reset-password:after {
	content: "a";
	visibility: hidden;
}

.registe-login .body .registe-btn {
	margin: 40px auto 74px;
	width: 100%;
	text-align: center;
	color: white;
	background: #c973778f;
	border-radius: 5px 5px;
	height: 38px;
	cursor: pointer;
	line-height: 38px;
}

.registe-login .body .registe-btn p {
	padding-top: 10px;
	font: 1rem "宋体";
}

.registe-login .body .registe-btn:hover {
	background: rgb(199, 46, 46);
}


#login .body button {
	width: 15px;
	height: 15px;
	background: white;
	border: 1px solid rgb(225, 225, 225);
	display: inline-block;
	margin-top: 19px;
	outline: none;
	cursor: auto;
}


#login .body .login-btn {
	margin: 9px auto 16px;
	width: 100%;
	text-align: center;
	color: white;
	background: #c973778f;
	border-radius: 5px 5px;
	height: 38px;
	cursor: pointer;
	line-height: 38px;
}
#login .body .login-btn:hover {
	background: rgb(199, 46, 46)
}
#login .body .login-btn p {
	font: 1rem "宋体";
	padding-top: 10px;
}

#login .body .login-to-regist {
	width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: underline;
	color: rgb(51, 51, 51);
	font: 0.7rem "宋体";
}

#login .body .login-to-regist:hover {
	color: rgb(17, 17, 17);
}