.Registercontainer1 {
  position: relative;
  width: 750px;
  height: 1000px;
  border: 1px solid #12d3cf;
  z-index: 999;
  background-color: #a5f7f5;
  margin-top: 100px;
}
.Registercontainer1 .formBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  padding: 50px;
  padding-top: 0;
}
.Registercontainer1 .formBox #fileDiv {
  position: relative;
  border: 1px solid #12d3cf;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
}
.Registercontainer1 .formBox #fileDiv #fileUpload {
  position: absolute;
  left: 0;
  display: inline-block;
  opacity: 0;
}
.Registercontainer1 .formBox #prevUpload {
  display: inline-block;
}
.Registercontainer1 .formBox #prevUpload li {
  width: 50px;
  height: 50px;
  list-style: none;
}
.Registercontainer1 .formBox #prevUpload li img {
  width: 100%;
  height: 100%;
}
.Registercontainer1 .formBox #eye {
  z-index: 999;
  cursor: pointer;
}
.Registercontainer1 .formBox .bgImg2 {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}
.Registercontainer1 .formBox .thumbnail {
  width: 60px;
  height: 60px;
  margin-bottom: 0;
}
.Registercontainer1 .formBox .thumbnail .error {
  text-align: center;
  font-size: 12px;
}
.Registercontainer1 .formBox #uploader-demo {
  display: inline-block;
}
.Registercontainer1 .formBox .list {
  display: inline-block;
  margin-bottom: 0;
}
.Registercontainer1 .formBox #indicate {
  display: none;
  position: absolute;
  border: 1px solid #6caf6e;
  color: #6caf6e;
}
.Registercontainer1 .formBox .numberSpan {
  width: 70px;
  transform: translate(10px, 10px);
  text-align: center;
}
.Registercontainer1 .formBox .btn1 {
  margin: 20px;
}
.Registercontainer1 .formBox .bg {
  text-align: center;
}
.Registercontainer1 #innerImg {
  display: none;
}
.Registercontainer1 #innerImg .innerImg {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  padding: 50px;
}
.Registercontainer1 #innerImg .innerImg .innerImg1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-weight: bolder;
}
